* {
  box-sizing: border-box;
}

header {
  display: flex;
  position: relative;
  max-width: 650px;
  height: 250px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: 55px;
}
button {
  width: 100px;
}
#box {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
span {
  widows: 25px;
}
